@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik:ital,wght@0,600;1,600&display=swap');



:root {
  /* Colores originales */
  --black: #333333;
  --white: #EDEDED;
  --silver: #CCCCCC;
  --red: #D50000;
  --red-light: #FF073A;
  --red-dark: #9E0000;
  --yellow: #FFD700;
  --yellow-gold: #FFA500;
}

.unique-font {
  font-family: "Rubik Dirt", system-ui;
}


.regular-font {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* Encabezado */
.navbar {
  background-color: var(--black);
  border-bottom: 2px solid var(--red);
}
/* Secciones centradas */
.hero-section,
.features-section,
.join-section {
  font-family: 'rubik';
  /* border: 1px outset var(--silver);  */
  /* box-shadow: 0 1px 2px var(--silver); */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  /* Ancho máximo para centrar mejor */
  text-align: center;
  /* Contenido centrado */
}

.first-title {
  font-family: "Rubik Dirt", system-ui;
}

.hero-img {
  max-width: 100%;
}

/* Footer */
.footer-top {
  background-color: var(--red);
  /* Franja roja */
  padding: 10px 0;
}

.footer-top img {
  max-height: 5rem;
  margin: 0 3rem;
}

.footer-bottom {
  background-color: var(--black);
  /* Fondo negro */
  color: var(--white);
  padding: 15px 0;
  text-align: center;
}

.social-icons i {
  color: var(--yellow);
  margin: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

a:hover {
  color: var(--yellow-gold);
}

.logo-header{
  width: 35%;
}